@model IEnumerable<TiendaMagic.Models.Registry>

@{
    ViewData["Title"] = "Index";
}
    <div class="page-wrapper paddingRight paddingLeft">
        <h1>Registros</h1>
        <div class="table-responsive">
            <div class="row">
                <div class="col-sm-12">
                    <table id="zero_config" class="table table-striped table-bordered dataTable">
                        <thead>
                            <tr role="row">
                                <th>
                                    Fecha
                                </th>
                                <th>
                                    Usuario
                                </th>
                                <th>
                                    Tipo
                                </th>
                                <th>
                                    Cantidad
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Registry registry in Model)
                            {
                                <tr class="odd" role="row">
                                    <td>
                                        @registry.Date
                                    </td>
                                    <td>
                                        <a asp-controller="Users" asp-action="Details" asp-route-id="@registry.User.Id">@registry.User.Nick</a> - @registry.User.Name @registry.User.LastName
                                    </td>
                                    <td>
                                        @registry.Value
                                    </td>
                                    <td>
                                        @registry.Quantity
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>