@model List<Producto>
@{
    ViewData["Title"] = "Index";
}
@{List<string> TipoProductos = ViewData["tiposProductos"] as List<string>; }
<h1>Index</h1>
<form asp-controller="Productos" asp-action="Index">
    <select id="Selector" name="tipo">
        <option value=""> Cualquiera </option>
        @foreach (string value in TipoProductos)
        {
            <option value="@value" >@value</option>
        }
    </select>
    <input type="text" placeholder="Nombre" name="nombre" />
    <input type="submit" value="Buscar" />
</form>

<div class="row">
    @{ if (Model.Count > 0)
        {
            @foreach (Producto x in Model)
            {
                <div class="card col-sm-12 col-lg-4 col-md-6" style="width: 18rem;">
                    <img src="@x.Imagen" class="card-img-top cardImagen" alt="@x.Nombre">
                    <div class="card-body">
                        <h5 class="card-title">@x.Nombre</h5>
                        <p class="card-text">@x.Precio</p>
                        <p class="card-text">@x.Tipo</p>
                        <p class="card-text">@x.Descripcion</p>
                        <p class="card-text">@x.FechaCaducidad</p>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/1200px-Heart_coraz%C3%B3n.svg.png" alt="Like" class="heartIco" />
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col">
                <p>Ningún Resultado</p>
            </div>
        }
    }

</div>

