@model IEnumerable<TiendaMagic.Models.Query>

@{
    ViewData["Title"] = "Index";
}

<h1>Consultas</h1>

<p>
    @*<a asp-action="Create">Ver las Consultas Resueltas</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nick
            </th>
            <th>
                Consulta
            </th>
            <th>
                Fecha
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Query query in Model)
        {
            if (query.Resolved == false)
            {
                <tr>
                    <td>
                        @query.User.Nick
                    </td>
                    <td>
                        @{
                            if (query.Text.Length > 80)
                            {
                                string sub = query.Text.Substring(0, 80) + "...";
                                @sub
                            }
                            else
                            {
                                @query.Text
                            }
                        }

                    </td>
                    <td>
                        @query.Date
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@query.Id">Ver</a> |
                        <a asp-action="Edit" asp-route-id="@query.Id">Resuelta</a>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>
